<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Data</servlet-name>
        <servlet-class>Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Taskbox</servlet-name>
        <servlet-class>com.syook.work.Taskbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskboxDao</servlet-name>
        <servlet-class>com.syook.work.TaskboxDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.syook.work.sevlets.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>com.syook.work.sevlets.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.syook.work.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.syook.work.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet2</servlet-name>
        <servlet-class>com.syook.work.EditServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.user.Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>com.user.Login.LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.Admin.work.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDao</servlet-name>
        <servlet-class>com.Admin.work.AdminDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finished</servlet-name>
        <servlet-class>com.Task.Finished</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Task.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFinish</servlet-name>
        <servlet-class>com.syook.work.DeleteFinish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReg</servlet-name>
        <servlet-class>com.reg.AdminReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReg</servlet-name>
        <servlet-class>com.reg.UserReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>com.Task.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>com.Log.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReassignServlet</servlet-name>
        <servlet-class>com.Task.ReassignServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Data</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Taskbox</servlet-name>
        <url-pattern>/Taskbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskboxDao</servlet-name>
        <url-pattern>/TaskboxDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet2</servlet-name>
        <url-pattern>/EditServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDao</servlet-name>
        <url-pattern>/AdminDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finished</servlet-name>
        <url-pattern>/Finished</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFinish</servlet-name>
        <url-pattern>/DeleteFinish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReg</servlet-name>
        <url-pattern>/AdminReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReg</servlet-name>
        <url-pattern>/UserReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReassignServlet</servlet-name>
        <url-pattern>/ReassignServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
